<%include ('partials/header.ejs') %>
    <body>
        <h1>Single Article Page</h1>
        <h2> Title: <%= article.title%></h2>
        <p>  <%= article.title%></p>
<%include ('partials/footer.ejs') %>